/* 
    Document   : dispute_style
    Created on : Apr 7, 2018, 5:11:14 PM
    Author     : Stephen
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
 body {
    background-image: url("ddfiles/redfoo.png");
    background-repeat: repeat;
    
}
h1{
    color:white;
    background-color: black;
    text-align: center;
    font-family: cont;
}
h3 {
    font-family: cont;
}

a:link {
    color: #c4e0ff;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 64%;
}
.carousel-indicators {
    bottom: -35px;
    z-index: 0;
}
.carousel-control.left {
    left: 18%;
}
.carousel-control.right {
    right: 18%;
}
@font-face {
  font-family: 'cont';
  src: url('ddfiles/font/CONTL___.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   url('ddfiles/font/CONTL___.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

div.box {
    background-color:#ffffff;
    border:1px solid black;
    opacity:1;
    filter:alpha(opacity=60);

}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next{
    right:10%;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-next{
    left:10%;
}

.carousel-indicators li {
    border: 1px solid #000;
}
.carousel-indicators .active {
    background-color: #000;
    
}

.barLink {
    background-color:#000;
    border:1px solid black;
    opacity:0.8;
    filter:alpha(opacity=60);
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 3px;
    padding-right: 3px;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    opacity: 1;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    text-align: center;
}



/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

  #main:visited {
    color:white;
}

/* Vote 1 */
#radio-inline1{
    position: relative;
    top:10px;
    left: 400px;
    size: 500px;
         transform: scale(2);
}

#vote{
        position: relative;
         top:20px;
    left: 625px;
 transform: scale(2);
}

/* Vote 2 */
#radio-inline2{
    position: relative;
     top:10px;
    left: 850px;
    transform: scale(2);
}


#votes_title{
    text-align: center;
}

#progress_container{
     position: relative;
      top:50px;
}

/* Number size for inside bar */
#team1{
    
  font-size: 20px;
}
#team2{
    
  font-size: 20px;
}
/* Holds the 2 collages */
#collages{
     position: relative;
      top:50px;
      left: 0px;
      width: 100%;
      height:600px;
}
#collage1{
     position: absolute;
      top:50px;
      left: 0px;
      width: 50%;
}
#collage2{
        position: absolute;
      top:50px;
      right: 0px;
      width: 50%;
}


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
/* The visible container */
.well{
      position: relative;
     top:50px;
    left: 40px;
    width:75%;
       background: lightsteelblue;
}

#well_container{
    position: relative;
}

#vote-modal-content{
    opacity: 1;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    height: 100%;
    text-align: center;
}

#modal_image{
     position: absolute;
     top: 10px;
     left:0px;
}

#vote-comment{
 position: absolute;
     top: 10px;
    right:0px;
    text-wrap: normal;
}

#vote_body{
     float:bottom;
}

#vote_text{
    position: relative;
     top: 70px;
     right: 0px;
}
